/* Link Colors */
a:link    { color:  hsl(336, 45%, 52%);  }
a:visited { color: hsl(0, 0%, 100%); }
a:hover   { color: hsl(336, 93%, 23%); }
a:active  { color: hsl(0, 0%, 100%); }
 
/* Main Page */

body {
  background-color: #D9B9C6;
}

/* Dashed pink border */
  hr {
     height: 1px;
     background-color: #BD7995;
      border: 1px dashed;
    }


.header {
  font-family: Andale Mono, monospace;
  padding: 20px;
  text-align: center;
  background: #BD7995;
  font-size: 30px;
}


.pageContainer {
  width: 850px;
  margin: 15px auto 0 auto;
  padding: 15px;
  background-color: #D9B9C6;
}
 
.imageContainer {
  float: center;
  width: 60px;
}

 
.textContainer {
  float: center;
  width: 700px;
  margin-left: auto;
  margin-top: auto;
}

/* Welcome! */
 
h1 {
  font-family: Helvetica, cursive;
  font-size:30px;
  color: #000000;
  text-align: center;
}

/* Intro */

h2 {
  font-family: Helvetica, cursive;
  font-size: 25px;
  color: #000000;
  text-align: center;
}

/* Get to know me */

h3 {
  font-family: Helvetica, cursive;
  font-size: 25px;
  color: #000000;
  text-align: center;
}
	
 
p, li {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

/* Bulletin Spacing */


/* Contact */
footer {
  float: center;
  width: 50px;
  height: 50px;
}

/* Styling */

   	 img {
  display: block;
  margin-left: 200px;
  margin-right: 200px;
}
   	 .textContainer {
      display: block;
      margin-left: auto;
      margin-right: auto;
 }
	      
   	  footer {
      display: block;
      text-align: center;
      margin-left: 700px;
      margin-right: 700px;
 }

	  nav {
      display: block;
      text-align: center;
      margin-left: 700px;
      margin-right: 700px;
}
