/* Link Colors */
a:link    { color:  hsl(49, 90%, 37%);  }
a:visited { color: hsl(120, 100%, 5%); }
a:hover   { color: hsl(49, 90%, 37%); }
a:active  { color: hsl(120, 100%, 15%); }
 
/* Main Page */

body {
  background-color: #C46210;
}
 
/* Second Page */

header {
  float: center;
  width: 50px;
  height: 50px;
}


.pageContainer {
  width: 850px;
  margin: 15px auto 0 auto;
  padding: 15px;
  background-color: #EFDECD;
}
 
.imageContainer {
  float: center;
  width: 50px;
}

 
.textContainer {
  float: middle;
  width: 250px;
  margin-left: auto;
  margin-top: auto;
}

/* Welcome! */
 
h1 {
  font-family: Helvetica, cursive;
  font-size:30px;
  color: #000000;
  text-align: center;
}

/* Intro */

h2 {
  font-family: Helvetica, cursive;
  font-size: 25px;
  color: #000000;
  text-align: center;
}

/* Get to know me */

h3 {
  font-family: Helvetica, cursive;
  font-size: 25px;
  color: #000000;
  text-align: center;
}
	
 
p, li {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

/* Contact */
footer {
  float: center;
  width: 50px;
  height: 50px;
}

/* Styling */
 <style>
  
    header {
      display: block;
      margin-left: 450px;
      margin-right: 450px;
 }	      
	            
    img {
  display: block;
  margin-left: 250px;
  margin-right: 250px;
}
    .textContainer {
      display: block;
      margin-left: auto;
      margin-right: auto;
 }
	      
     footer {
      display: block;
      margin-left: auto;
      margin-right: auto;
 }

      </style>
