/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

body {
  background-color: #FFB6C1;
}
 
.pageContainer {
  width: 850px;
  margin: 15px auto 0 auto;
  padding: 15px;
  background-color: #fff;
}
 
.imageContainer {
  float: center;
  width: 620px;
}
 
.textContainer {
  float: center;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

img {
  width: 100%;
}
 
h1 {
  font-family: Helvetica, cursive;
  font-size: 45px;
  color: #8b1b00;
}
 
p, li {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #51473b;
}



