

body {
  background-color: #C46210;
}
 
.pageContainer {
  width: 850px;
  margin: 15px auto 0 auto;
  padding: 15px;
  background-color: #EFDECD;
}
 
.imageContainer {
  float: center;
  width: 50px;
}

 
.textContainer {
  float: center;
  width: 150px;
  margin-left: auto;
  margin-top: auto;
}

 
h1 {
  font-family: Helvetica, cursive;
  font-size:25px;
  color: #000000;
}

h2 {
  font-family: Helvetica, cursive;
  font-size: 22px;
  color: #000000;
}

h3 {
  font-family: Helvetica, cursive;
  font-size: 20px;
  color: #000000;
}
	
 
p, li {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  color: #000000;
}



