/* Link Colors */
a:link    { color:  hsl(120, 100%, 5%);  }
a:visited { color: hsl(0, 0%, 100%); }
a:hover   { color: hsl(120, 100%, 15%); }
a:active  { color: hsl(0, 0%, 100%); }
 
/* Main Page */

body {
  background-color: #D9B9C6;
}


/* Large rounded pink border */
hr.new5 {
  border: 10px solid pink;
  border-radius: 5px;
}

.header {
  font-family: URW Chancery L, cursive;
  padding: 20px;
  text-align: center;
  background: #BD7995;
  font-size: 30px;
}


.pageContainer {
  width: 850px;
  margin: 15px auto 0 auto;
  padding: 15px;
  background-color: #D9B9C6;
}
 
.imageContainer {
  float: center;
  width: 50px;
}

 
.textContainer {
  float: center;
  width: 500px;
  margin-left: auto;
  margin-top: auto;
}

/* Welcome! */
 
h1 {
  font-family: Helvetica, cursive;
  font-size:30px;
  color: #000000;
  text-align: center;
}

/* Intro */

h2 {
  font-family: Helvetica, cursive;
  font-size: 25px;
  color: #000000;
  text-align: center;
}

/* Get to know me */

h3 {
  font-family: Helvetica, cursive;
  font-size: 25px;
  color: #000000;
  text-align: center;
}
	
 
p, li {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

/* Contact */
footer {
  float: center;
  width: 50px;
  height: 50px;
}

/* Styling */

   	 img {
  display: block;
  margin-left: 400px;
  margin-right: 400px;
}
   	 .textContainer {
      display: block;
      margin-left: auto;
      margin-right: auto;
 }
	      
   	  footer {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
 }

