/* Link Colors */
a:link    { color:  hsl(49, 90%, 37%);  }
a:visited { color: hsl(120, 100%, 5%); }
a:hover   { color: hsl(49, 90%, 37%); }
a:active  { color: hsl(120, 100%, 15%); }
 

body {
  background-color: #C46210;
}
 
.pageContainer {
  width: 850px;
  margin: 15px auto 0 auto;
  padding: 15px;
  background-color: #EFDECD;
}
 
.imageContainer {
  float: center;
  width: 50px;
}

 
.textContainer {
  float: middle;
  width: 250px;
  margin-left: auto;
  margin-top: auto;
}

 
h1 {
  font-family: Helvetica, cursive;
  font-size:30px;
  color: #000000;
  text-align: center;
}

h2 {
  font-family: Helvetica, cursive;
  font-size: 25px;
  color: #000000;
  text-align: center;
}

h3 {
  font-family: Helvetica, cursive;
  font-size: 25px;
  color: #000000;
  text-align: center;
}
	
 
p, li {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

footer {
  float: center;
  width: 50px;
}

